# Python cache
__pycache__/

# vs code settings
.vscode/

# output folders
outputs/
logs/

# Virtual environments 
.venv/
venv/
env/

# Problem Statement
Problem-Statement/
SFT/SFT_Rules

attacks.txt

results/