# Python cache
__pycache__/

# VS Code
.vscode/

# Output folders
outputs/
logs/

# Virtual environments
.venv/
venv/
env/

# Problem Statement
Problem-Statement/
SFT/SFT_Rules

attacks.txt

**/results/*

!**/results/results/
!**/results/results/**

!**/results/__results___files/
!**/results/__results___files/**

**/results/huggingface_tokenizers_cache/
**/results/unsloth_compiled_cache/
**/results/outputs/
**/results/__huggingface_repos__/