__pycache__/

.vscode/

outputs/
logs/

.venv/
venv/
env/

Problem-Statement/
SFT/SFT_Rules

attacks.txt

**/results/*

!**/results/results/
!**/results/results/**

!**/results/__results___files/
!**/results/__results___files/**

**/results/huggingface_tokenizers_cache/
**/results/unsloth_compiled_cache/
**/results/outputs/
**/results/__huggingface_repos__/

Research-Papers/

LLM's.zip